/* bubble.module.css */
.bubble {
  position: relative;
  display: inline-block;
  padding: 0 10px;
  font-weight: 900;
  font-size: 1.5rem;
  color: #000000;
  background: linear-gradient(135deg, #2dff9d, #26deff);
  border-radius: 10px;
}

.bubble::before,
.bubble::after {
  content: "";
  position: absolute;
  background: inherit;
  border-radius: 50%;
  z-index: -1;
}

.bubble::before {
  top: -15px;
  left: -15px;
  width: 15px;
  height: 15px;
}

.bubble::after {
  bottom: -15px;
  right: -15px;
  width: 20px;
  height: 20px;
}
